html {
    font-size: 62.5%;
    line-height:1.5rem;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    text-align: center;
    
    
}

h1{
    font-family: 'Oswald', sans-serif; 
}

h2, h3 {
    font-family: 'PT Serif', serif;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

// .h1 {
//     font-family: 'Oswald', sans-serif;
// }

// .other-headings{
//     font-family: 'PT Serif', serif;
// }

// .text{
//     font-family: 'Roboto', sans-serif;
// }